@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

* {
    padding: 0;
    margin: 0;
}

strong {
    font-weight: 600;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    border-top: 4px solid #3FD4FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

header {
    background-image: url('../img/bg.png');
    position: relative;
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-content {
    position: absolute;
    top: 10%;
    padding: 0 50px;
}

.color.blue {
    color: #3fd4ff;
}

.text-content {
    float: left;
    color: #FFF;
    font-size: 28px;
    background: rgba(0, 0, 0, 0.6);
    padding: 12px 16px 12px 16px;
    margin: 10px 0 0 0;
}

/**
 * Mobile / Tablet / Small device
 */
@media (max-width: 767px) {
    h1, h2, h3, h4, .text-content {
        font-size: 16px;
        line-height: 24px;
    }
}
